.App {
    box-sizing: border-box;
}

.SeachClass .MuiInputBase-input {
    padding: 8px !important;
}
.MuiTreeItem-root,.MuiTreeItem-label{
font-size: 1.2rem !important;
}
.MuiTreeItem-label{
    color: #1976d2;
}
.MuiTreeItem-root{
    color: #9c27b0;
}


@media screen and (max-width:750px) {
    .mobile_header {
        display: none !important;
    }

    .mobile_bar {
        display: flex !important;
        cursor: pointer;
    }
}